<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="dataManager" class="edu.uncc.genosets.datamanager.api.GenericDataManager">
    </bean>
    
    <bean id="genosetsWeb" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
        <property name="serviceUrl" value="http://localhost:8084/GenoSetsServer/testService.service"/>
        <property name="serviceInterface" value="edu.uncc.genosets.datamanager.api.ServiceManager"/>
        <property name="httpInvokerRequestExecutor">
            <bean class="org.springframework.security.remoting.httpinvoker.AuthenticationSimpleHttpInvokerRequestExecutor"/>
        </property>
    </bean>
</beans>